<% @photos.each do |image| %>
  <div id="image">
      <form action="/photos/new" method="GET">
        <img src="<%= image %>" />
        <input type="hidden" name="url" value="<%= image %>" /><br />
        <input type="submit" value="Save" />
      </form><br />
  </div>
<% end %>



