<form action="/photos" method="POST">
  <input type="text" name="title" placeholder="Title" /><br>
  <textarea name="description" placeholder="Enter Description Here"></textarea><br>
  <input type="hidden" name="url" value="<%= @choice %>" /><br>

  <input type="submit" value="SAVE" />
</form>
